body {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.animation {
    border: 5px solid #dcdcdc;
    border-left-color: #00cc99;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

.is-animation {
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}